<a href="https://colab.research.google.com/github/Abir-Reza/Python_for_DataScience_AI_Development/blob/master/Api.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pycoingecko
!pip install plotly
!pip install mplfinance

In [3]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go
from plotly.offline import plot
import matplotlib.pyplot as plt
import datetime
from pycoingecko import CoinGeckoAPI
from mplfinance.original_flavor import candlestick2_ohlc

#Dictionary to dataframe

In [4]:
dict = {'a':[11,21,31],'b':[12,22,32]}

df = pd.DataFrame(dict)
type(df)

pandas.core.frame.DataFrame

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/images/pandas_api.png" width = 800, align = "center" alt="logistic regression block diagram" />
When you call the method head the dataframe communicates with the API displaying the first few rows of the dataframe.

In [5]:
df.head()

    a   b
0  11  12
1  21  22
2  31  32

In [6]:
#mean

df.mean()

a    21.0
b    22.0
dtype: float64