<a href="https://colab.research.google.com/github/Abir-Reza/Python_for_DataScience_AI_Development/blob/master/List_and_Tupple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tuples

In Python, there are different data types: **string, integer and float**. These data types can all be contained in a tuple as follows

In [1]:
# create tupple
tuple1 = ('abir',2,3.6)

tuple1

('abir', 2, 3.6)

In [2]:
# data type of tuple
type(tuple1)

tuple

#Indexing

Both **positive and negative** indexing avaliable.

In [4]:
tuple2 = (1,3.7, 'Reza','Computer Science',25)
print(tuple2[0])
print(tuple2[3])

# Negative indexing
print(tuple2[-1])
print(tuple2[-len(tuple2)])

# tuple2[-5] is the first element, while tuple[-1] is the last element
print(tuple2[-5])

1
Computer Science
25
1
1

#Concatenate Tuples
We can concatenate or combine tuples by using the **+** sign:

In [12]:
tuple1 = ('abir',2,3.6)
tuple2 = (1,3.7, 'Reza','Computer Science',25)
tuple3= tuple1 + tuple2


print(tuple3)

('abir', 2, 3.6, 1, 3.7, 'Reza', 'Computer Science', 25)

#Slicing

In [13]:
print(tuple3[0:6])

print(tuple3[2:6])

#get length
len(tuple3)

('abir', 2, 3.6, 1, 3.7, 'Reza')
(3.6, 1, 3.7, 'Reza')

8

#Sorting

**Note:** Tupples are **immutable**.

In [25]:
# sample tuple

ranking = (2,5,8,3,1,4,7)

# #sort
ratingsorted= sorted(ranking)

ratingsorted

[1, 2, 3, 4, 5, 7, 8]

#Nested Tuple

A tuple can **contain another tuple** as well as other more complex data types. This process is called '**nesting**'. Consider the following tuple with several elements:

In [35]:
nestedTup = (1,45,('Germany', 'CAU'), 28, (2,3,6))

print(len(nestedTup))

print(nestedTup[2])
print("Element of 4 index  2nd position is :",nestedTup[4][1])

# Print the first element in the second nested tuples
print("index[2][1][0] of nestedtuple is: ", nestedTup[2][1][0])

5
('Germany', 'CAU')
Element of 4 index  2nd position is : 3
index[2][1][0] of nestedtuple is:  C

#Sample test

Find the first index of "disco" from given tuple.

In [37]:
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 

genres_tuple.index('disco')

7