<a href="https://colab.research.google.com/github/Abir-Reza/Python_for_DataScience_AI_Development/blob/master/List_and_Tupple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tuples

In Python, there are different data types: **string, integer and float**. These data types can all be contained in a tuple as follows

In [1]:
# create tupple
tuple1 = ('abir',2,3.6)

tuple1

('abir', 2, 3.6)

In [2]:
# data type of tuple
type(tuple1)

tuple

#Indexing

Both **positive and negative** indexing avaliable.

In [4]:
tuple2 = (1,3.7, 'Reza','Computer Science',25)
print(tuple2[0])
print(tuple2[3])

# Negative indexing
print(tuple2[-1])
print(tuple2[-len(tuple2)])

# tuple2[-5] is the first element, while tuple[-1] is the last element
print(tuple2[-5])

1
Computer Science
25
1
1

#Concatenate Tuples
We can concatenate or combine tuples by using the **+** sign:

In [12]:
tuple1 = ('abir',2,3.6)
tuple2 = (1,3.7, 'Reza','Computer Science',25)
tuple3= tuple1 + tuple2


print(tuple3)

('abir', 2, 3.6, 1, 3.7, 'Reza', 'Computer Science', 25)

#Slicing

In [13]:
print(tuple3[0:6])

print(tuple3[2:6])

#get length
len(tuple3)

('abir', 2, 3.6, 1, 3.7, 'Reza')
(3.6, 1, 3.7, 'Reza')

8

#Sorting

**Note:** Tupples are **immutable**.

In [25]:
# sample tuple

ranking = (2,5,8,3,1,4,7)

# #sort
ratingsorted= sorted(ranking)

ratingsorted

[1, 2, 3, 4, 5, 7, 8]

#Nested Tuple

A tuple can **contain another tuple** as well as other more complex data types. This process is called '**nesting**'. Consider the following tuple with several elements:

In [35]:
nestedTup = (1,45,('Germany', 'CAU'), 28, (2,3,6))

print(len(nestedTup))

print(nestedTup[2])
print("Element of 4 index  2nd position is :",nestedTup[4][1])

# Print the first element in the second nested tuples
print("index[2][1][0] of nestedtuple is: ", nestedTup[2][1][0])

5
('Germany', 'CAU')
Element of 4 index  2nd position is : 3
index[2][1][0] of nestedtuple is:  C

#Sample test

Find the first index of "disco" from given tuple.

In [37]:
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 

genres_tuple.index('disco')

7

In [39]:
 A=((1),[2,3],[4])

 A[2][0]

 '1,2,3,4'.split(',')

['1', '2', '3', '4']

#List

Lists are **mutabl**e. **Indexing** is as same as **Tupple**..

In [42]:
list=[2,3,5,'Abir',45]

print("list before: ",list)

list[3] ='reza'
print('list after index assignment: ',list)

## Because unlike Tupple, lists are mutable.

list before:  [2, 3, 5, 'Abir', 45]
list after index assignment:  [2, 3, 5, 'reza', 45]

#Append vs Extend

In [46]:
list = ['Abir', 10,1998]
list.extend(['Student',10])
#extend concates list with previous list
print(list)

list1 = ['Abir', 10,1998]
list.append("Reza")

#append adds only one element to the list
print(list)

['Abir', 10, 1998, 'Student', 10]
['Abir', 10, 1998, 'Student', 10, 'Reza']

#Delete item in list

In [50]:
list1 = ['Abir', 10,1998]

del(list1[1])
print(list1)

['Abir', 1998]

list

#Convert string into list 

##**split()**

In [54]:
str = " I study Computer Science"

print(str.split())

"A,B,C,D".split(",")

['I', 'study', 'Computer', 'Science']

['A', 'B', 'C', 'D']

#Clone list

In [56]:
A = [2,5,8]

B = A[:]
B

[2, 5, 8]

#Use help(list1)

It helps to find different operation can be implemented on a list ( list1)

In [57]:
list1 = [2,8,10]
help(list1)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None